## Harness CCM Chart

{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

## Usage

Use the following dependency to add this chart repository to your Helm installation:

```
dependencies:
    - name: ccm
      repository: https://harness.github.io/helm-ccm
      version: {{ template "chart.version" . }}
```

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
