## Global Settings
global:
  # -- Enable for complete airgap environment
  airgap: false
  ha: true
  # -- Global Docker image registry
  imageRegistry: ""
  # -- Fully qualified URL of your loadbalancer (ex: https://www.foo.com)
  loadbalancerURL: ""
  mongoSSL: false
  storageClassName: ""
  ingress:
    useSelfSignedCert: false

  # -- Enable to install STO
  sto:
    enabled: false

  # -- Enable to install Error Tracking
  et:
    enabled: false

  ff:
    enabled: false

  ngcustomdashboard:
    enabled: false

### Release tags
ci:
  # -- Enable to install CI
  enabled: true

