## Harness Artifact Registry (AR) Chart

{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

## Usage

Use the following dependency to add this chart to your Helm chart:
