## Global Settings
global:
  # -- Enable for complete airgap environment
  airgap: false
  ha: true
  # -- Global Docker image registry
  imageRegistry: ""
  # -- Fully qualified URL of your loadbalancer (ex: https://www.foo.com)
  loadbalancerURL: ""
  mongoSSL: false
  storageClassName: ""

  sto:
    # -- Enable to install STO
    enabled: false

  srm:
    # -- Enable to install SRM
    enabled: false

  ngcustomdashboard:
    # -- Enabled will deploy NG Customer Dashboards
    enabled: false

  ff:
    # -- Enabled will deploy Feature Flags Component
    enabled: false

  # --- Enable Istio Gateway
  istio:
    enabled: false
    strict: false
    gateway:
      # -- Enable to create istio-system gateway
      create: true
      port: 443
      protocol: HTTPS
    hosts:
      - '*'
    tls:
      credentialName:
      minProtocolVersion: TLSV1_2
      mode: SIMPLE
    virtualService:
      gateways:
        - ""
      hosts:
        - ""

  # --- Enable Nginx ingress controller gateway
  ingress:
    enabled: false
    annotations: {}
    createNginxIngressController: false
    createDefaultBackend: false
    loadBalancerIP: '0.0.0.0'
    className: "harness"
    loadBalancerEnabled: false
    useSelfSignedCert: false
    ingressObjectsAnnotations:
    ingressControllerAnnotations:
    nginx:
      image:
        registry:  us.gcr.io
        repository: k8s-artifacts-prod/ingress-nginx/controller
        pullPolicy: IfNotPresent
        # Overrides the image tag whose default is the chart appVersion.
        tag: "v1.0.0-alpha.2"
        digest: ""
    defaultbackend:
      image:
        registry: k8s.gcr.io
        repository: defaultbackend-amd64
        pullPolicy: IfNotPresent
        # Overrides the image tag whose default is the chart appVersion.
        tag: "1.5"
        digest: ""
    # NOTE: for ip-based installs, either use sslip.io for an IP-encoded DNS name
    # OR set the hosts entry to '*'
    hosts:
      - 'my-host.example.org'
    tls:
      enabled: false
      secretName: harness-ssl


## Platform Settings
harness:
  platform:
    # -- Feature list to enable within platform.  Contact Harness for value
    access-control:
      autoscaling:
        enabled: true
        minReplicas: 2
      appLogLevel: INFO
      java:
        memory: 512m
      resources:
        limits:
          cpu: 1
          memory: 4096Mi
        requests:
          cpu: 1
          memory: 4096Mi

    change-data-capture:
      appLogLevel: INFO
      java:
        memory: 2048
      resources:
        limits:
          cpu: 1
          memory: 2880Mi
        requests:
          cpu: 1
          memory: 2880Mi
      autoscaling:
        enabled: false
        minReplicas: 2

    cv-nextgen:
      java:
        memory: 2048
      resources:
        limits:
          cpu: 1
          memory: 3000Mi
        requests:
          cpu: 1
          memory: 3000Mi
      autoscaling:
        enabled: true
        minReplicas: 2

    delegate-proxy:
      resources:
        limits:
          cpu: 200m
          memory: 100Mi
        requests:
          cpu: 200m
          memory: 100Mi
      autoscaling:
        enabled: false
      replicaCount: 1

    gateway:
      java:
        memory: 2048
      resources:
        limits:
          cpu: 0.5
          memory: 3072Mi
        requests:
          cpu: 0.5
          memory: 3072Mi
      autoscaling:
        enabled: true
        minReplicas: 2

    harness-manager:
      external_graphql_rate_limit: "500"
      autoscaling:
        enabled: true
        minReplicas: 2
      java:
        memory: "2048"
      resources:
        limits:
          cpu: 2
          memory: 3000Mi
        requests:
          cpu: 2
          memory: 3000Mi

    le-nextgen:
      autoscaling:
        enabled: true
        minReplicas: 2
      resources:
        limits:
          cpu: 4
          memory: 6132Mi
        requests:
          cpu: 4
          memory: 6132Mi

    log-service:
      autoscaling:
        enabled: false
      replicaCount: 1
      resources:
        limits:
          cpu: 1
          memory: 3072Mi
        requests:
          cpu: 1
          memory: 3072Mi

    minio:
      fullnameOverride: "minio"
      mode: standalone
      defaultBuckets: "logs"
      persistence:
        size: 200Gi

    mongodb:
      replicaCount: 3
      resources:
        limits:
          cpu: 4
          memory: 8192Mi
        requests:
          cpu: 4
          memory: 8192Mi
      persistence:
        size: 200Gi
      args:
        - "--wiredTigerCacheSizeGB=3"

    next-gen-ui:
      autoscaling:
        enabled: true
        minReplicas: 2
      resources:
        limits:
          cpu: 0.5
          memory: 512Mi
        requests:
          cpu: 0.5
          memory: 512Mi

    ng-auth-ui:
      autoscaling:
        enabled: true
        minReplicas: 2
      resources:
        limits:
          cpu: 0.5
          memory: 512Mi
        requests:
          cpu: 0.5
          memory: 512Mi

    ng-manager:
      autoscaling:
        enabled: true
        minReplicas: 2
      java:
        memory: "4096m"
      resources:
        limits:
          cpu: 2
          memory: 6144Mi
        requests:
          cpu: 2
          memory: 6144Mi

    pipeline-service:
      autoscaling:
        enabled: true
        minReplicas: 2
      java:
        memory: "4096m"
      resources:
        limits:
          cpu: 1
          memory: 6144Mi
        requests:
          cpu: 1
          memory: 6144Mi

    platform-service:
      autoscaling:
        enabled: true
        minReplicas: 2
      java:
        memory: "3072m"
      resources:
        limits:
          cpu: 1
          memory: 4096Mi
        requests:
          cpu: 1
          memory: 4096Mi

    redis:
      redis:
        resources:
          limits:
            cpu: 1
            memory: 2048Mi
          requests:
            cpu: 1
            memory: 2048Mi
      replicaCount: 3
      sentinel:
        resources:
          limits:
            cpu: 100m
            memory: 200Mi
          requests:
            cpu: 100m
            memory: 200Mi
      volumeClaimTemplate:
        resources:
          requests:
            storage: 10Gi

    scm-service:
      autoscaling:
        enabled: false
      replicaCount: 1
      resources:
        limits:
          cpu: 0.1
          memory: 512Mi
        requests:
          cpu: 0.1
          memory: 512Mi

    template-service:
      autoscaling:
        enabled: true
        minReplicas: 2
      java:
        memory: "2048m"
      resources:
        limits:
          cpu: 1
          memory: 3000Mi
        requests:
          cpu: 0.7
          memory: 3000Mi

    ti-service:
      autoscaling:
        enabled: true
        minReplicas: 2
      jobresources:
        limits:
          cpu: 1
          memory: 3072Mi
        requests:
          cpu: 1
          memory: 3072Mi
      resources:
        limits:
          cpu: 1
          memory: 3072Mi
        requests:
          cpu: 1
          memory: 3072Mi

    timescaledb:
      enabled: true
      autoscaling:
        enabled: false
      replicaCount: 2
      resources:
        limits:
          cpu: 1
          memory: 2048Mi
        requests:
          cpu: 1
          memory: 2048Mi
      storage:
        capacity: 120Gi



  ci:
  # -- Enable to install CI
    enabled: true
    ci-manager:
      autoscaling:
        enabled: true
        minReplicas: 2
      java:
        memory: "4096m"
      resources:
        limits:
          cpu: 1
          memory: 6192Mi
        requests:
          cpu: 1
          memory: 6192Mi

  sto:
    sto-core:
      autoscaling:
        enabled: true
        minReplicas: 2
      resources:
        limits:
          cpu: 500m
          memory: 500Mi
        requests:
          cpu: 500m
          memory: 500Mi
    sto-manager:
      autoscaling:
        enabled: true
        minReplicas: 2
      resources:
        limits:
          cpu: 1
          memory: 3072Mi
        requests:
          cpu: 1
          memory: 3072Mi

  srm:
    enable-receivers: true
    et-service:
      et:
        java:
          heapSize: "6400m"
        redis:
          enabled: true
      replicaCount: 1
      resources:
        limits:
          cpu: 2
          memory: 8Gi
        requests:
          cpu: 500m
          memory: 8Gi
    et-collector:
      et:
        java:
          heapSize: "1600m"
      autoscaling:
        enabled: true
        maxReplicas: 3

      replicaCount: 1
      resources:
        limits:
          cpu: 1
          memory: 2Gi
        requests:
          cpu: 100m
          memory: 2Gi
    et-receiver-hit:
      name: et-receiver-hit
      et:
        redisQueue:
          type: hit
        java:
          heapSize: "1600m"
      autoscaling:
        enabled: true
        maxReplicas: 3
      replicaCount: 1
      resources:
        limits:
          cpu: 1
          memory: 2Gi
        requests:
          cpu: 100m
          memory: 2Gi
    et-receiver-decompile:
      name: et-receiver-decompile
      et:
        redisQueue:
          type: decompile
        java:
          heapSize: "1600m"
      autoscaling:
        enabled: true
        maxReplicas: 3
      replicaCount: 1
      resources:
        limits:
          cpu: 2
          memory: 2Gi
        requests:
          cpu: 100m
          memory: 2Gi
    et-receiver-agent:
      name: et-receiver-agent
      et:
        redisQueue:
          type: agent
        java:
          heapSize: "1600m"
      autoscaling:
        enabled: true
        maxReplicas: 3
      replicaCount: 1
      resources:
        limits:
          cpu: 1
          memory: 2Gi
        requests:
          cpu: 100m
          memory: 2Gi
    et-receiver-sql:
      name: et-receiver-sql
      et:
        redisQueue:
          type: sql
        java:
          heapSize: "1600m"
      autoscaling:
        enabled: true
        maxReplicas: 3
      replicaCount: 1
      resources:
        limits:
          cpu: 1
          memory: 2Gi
        requests:
          cpu: 100m
          memory: 2Gi
  ngcustomdashboard:
    looker:
      resources:
        limits:
          cpu: 4
          memory: 8Gi
        requests:
          cpu: 2
          memory: 4Gi
      config:
        # -- name of the user who performs setup and support tasks
        firstName: Harness
        # -- last name of the user who performs setup and support tasks
        lastName: Support
        # -- email address of the support user, required for initial signup and support
        email: ''
        # -- id used by initial setup user for authentication, generate a 20-byte key, e.g. openssl rand -hex 10
        clientId: ''
        # -- timescale connection name, must match model connection name
        timescaleConnectionName: 'qa-timescale'
        # -- timescale hostname
        timescaleHost: ''
        # -- timescale port
        timescalePort: ''
        # -- timescale database name
        timescaleDatabase: ''
        # -- timescale user
        timescaleUser: ''
        # -- name of the looker project which will be created
        projectName: 'Harness'

      lookerSecrets:
        licenseKey:
          name: harness-secrets
          # -- name of secret containing the looker license key which will be provided by Harness
          key: lookerLicenseKey
        masterKey:
          name: harness-secrets
          # -- name of secret containing the key used for at rest encryption by looker, generate a Base64, 32-byte key, e.g. openssl rand -base64 32
          key: lookerMasterKey
        clientSecret:
          name: harness-secrets
          # -- name of secret containing the client secret used for initial setup, generate a 24-byte key, e.g. openssl rand -hex 12
          key: lookerClientSecret

      timescaleSecrets:
        password:
          name: harness-secrets
          # -- name of secret containing the timescale password
          key: lookerTimescalePassword

      ingress:
        # -- Required if ingress is enabled, Looker requires a separate DNS domain name to function
        host: ''
        tls:
          secretName: ''
    ng-custom-dashboard:
      resources:
        limits:
            cpu: 2
            memory: 1Gi
        requests:
          cpu: 1
          memory: 500Mi
      config:
        # -- scheme used for your looker install, http or https
        lookerScheme: 'https'
        # -- hostname of your looker install
        lookerHost: ''
        # -- port of your looker install
        lookerPort: '80'
        # -- folder ID of the 'CUSTOMER' folder in looker
        customerFolderId: '6'
        # -- folder ID of the 'OOTB' folder in looker
        ootbFolderId: '7'
        # -- hostname of your redis install
        redisHost: ''
        # -- port of your redis install
        redisPort: '6379'
        # -- if you have configured Looker models with a prefix enter it here
        modelPrefix: ''
        # -- looker sdk param
        lookerApiVersion: '4.0'
        # -- looker sdk param
        lookerTimeout: '120'
        # -- looker sdk param
        lookerVerifySsl: 'false'

      lookerSecrets:
        clientId:
          name: harness-secrets
          key: lookerSdkClientId
        clientSecret:
          name: harness-secrets
          key: lookerSdkClientSecret
        secret:
          name: harness-secrets
          key: lookerEmbedSecret
